{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br><br><br>
    <div class="container mx-auto" style="width: 400px;">
        <img class="image-fluid" src="/static/images/github-mark.png" alt="" width="75">
        &nbsp&nbsp&nbsp&nbsp
        <img class="image-fluid" src="/static/images/GitHub_Logo.png" alt="" width="150">
    </div>
    <br>
    <p class="mbr-text pb-3 mbr-semibold mbr-fonts-style display-7 mx-auto"
        style=" width: 650px; font-size: x-large; font-weight: 500;" width: 700px; font-weight: 500;">
        Click here to access the GitHub repository of this webpage.
    </p>
    <div class="">
        <center>
            <a class="btn btn-outline-primary btn-lg mx-auto"
                style="width: 900px; font-weight: bold; font-size: x-large;"
                href="https://github.com/LBY777/VolunteerRecruitment">GitHub Repository</a>
        </center>
    </div>
    <br><br><br><br><br><br>
    <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-4 mx-auto"
        style="font-weight: bold; width: 250px;">About Us</h1>
    <div class="">
        <br><br>
        <div class="container mx-auto" style="width: 1300px;">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Kyle Shannon</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Organizer & Director</h6>
                            <p class="card-text">Professor Kyle organized and directed this project ... ect.</p>
                            <a class="card-link btn btn-outline-primary btn-sm mx-auto"
                                href="https://www.kmshannon.com/about/">Website</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Boyong Liu</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Contributor</h6>
                            <p class="card-text">Boyong is a contributor of this project ... ect.</p>
                            <a class="card-link btn btn-outline-primary btn-sm mx-auto"
                                href="https://github.com/LBY777">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Yepeng Li</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Contributor</h6>
                            <p class="card-text">Yepeng is a contributor of this project ... ect.</p>
                            <a class="card-link btn btn-outline-primary btn-sm mx-auto"
                                href="#">Link Somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Jiesen Zhang</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Contributor</h6>
                            <p class="card-text">Jiesen is a contributor of this project ... ect.</p>
                            <a class="card-link btn btn-outline-primary btn-sm mx-auto"
                                href="#">Link Somewhere</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br>




{% endblock %}