{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br><br><br>
    <div class="container mx-auto" style="width: 400px;">
        <img class="image-fluid" src="/static/images/github-mark.png" alt="" width="75">
        &nbsp&nbsp&nbsp&nbsp
        <img class="image-fluid" src="/static/images/GitHub_Logo.png" alt="" width="150">
    </div>
    <br>
    <p class="mbr-text pb-3 mbr-semibold mbr-fonts-style display-7 mx-auto"
        style=" width: 600px; font-size: x-large; font-weight: 500;" width: 700px; font-weight: 500;">
        Click here to access the GitHub repository of this project.
    </p>
    <div class="">
        <center>
            <a class="btn btn-outline-primary btn-lg mx-auto"
                style="width: 900px; font-weight: bold; font-size: x-large;">Volunteer Recruitment Repository</a>
        </center>
    </div>
    <br><br><br><br><br><br>
    <hr><br><br>
    <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-6 mx-auto"
        style="font-weight: 600; width: 300px;">Group Members</h1>
    <div class="">
        <br><br>
        <p class="mbr-text pb-3 mbr-semibold mbr-fonts-style display-7 mx-auto"
            style=" width: 600px; font-size: x-large; font-weight: 500;" width: 700px; font-weight: 500;">
            Professor Kyle Shannon, Yepeng Li, Jiesen Zhang, Boyong Liu
        </p>
        <br>
        <center>
            <a class="btn btn-outline-primary btn-lg mx-auto"
                style="width: 900px; font-weight: bold; font-size: x-large;">Contacts</a>
        </center>
    </div>
</div>
<hr><br><br><br><br>




{% endblock %}